/*
rgba(44,118,139,1)
rgba(243,239,220,1)
 */
.cover {
  position: relative;
  background: rgba(243,239,220,1);
  background: -moz-linear-gradient(top, rgba(243,239,220,1) 0%, rgba(44,118,139,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,239,220,1)), color-stop(100%, rgba(44,118,139,1)));
  background: -webkit-linear-gradient(top, rgba(243,239,220,1) 0%, rgba(44,118,139,1) 100%);
  background: -o-linear-gradient(top, rgba(243,239,220,1) 0%, rgba(44,118,139,1) 100%);
  background: -ms-linear-gradient(top, rgba(243,239,220,1) 0%, rgba(44,118,139,1) 100%);
  background: linear-gradient(to bottom, rgba(243,239,220,1) 0%, rgba(44,118,139,1) 100%);
  /*background: url(../img/cover.png) no-repeat;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;
}

.coverCard {
  position: absolute;
  margin-left: 281px;
  bottom: 0;
  color: white;
  font-weight: 800;
}

.coverCard .name {
  font-size: 56px;
  margin-bottom: 0px;
}
.coverCard .title {
}

.avatar {
  border:0px solid white;
  margin-top: -335px;
  border-radius: 1500px;
  -webkit-border-radius: 1500px;
  -moz-border-radius: 1500px;
  background: url(../img/avatar.png) no-repeat;
  background-position: top;
}

ul {
}
li {
	margin-bottom: 0.5rem;
}
a {
  text-decoration: underline;
  color: #2C768B;
}
a:visited {
  color: #2C768B;
}

pre, code {
  background-color: #fafafa;
}

pre.highlight {
  background-color: #fafafa;
}

body {
  text-align: justify;
  word-break: break-word;
}

.post-header {
  text-align: left;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C"\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}


.perspective {
  max-width: 49%;
}

.swasthya {
  display: block;
  margin: 0 auto;
  max-width: 70%;
}
.brains-img {
  display: block;
  margin: 1.5rem auto;
  max-width: 70%;
}
.brains-img-double {
  display: inline;
  margin: 1.5rem auto;
  max-width: 49%;
}

.centerimage {
  display: block;
  margin: 0 auto;
}

#progressbar {
  background-color: #E2E7EA;
  border-radius: 13px; /* (height of inner div) / 2 + padding */
  padding: 3px;
  margin-bottom: 24px;
}

#progressbar > div {
  background-color: #2C768B;
  width: 3%;
  height: 20px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 0.83em;
  padding-left: 2px;
}

@media only screen and (max-width: 600px) {
	.brains-img {
    display: block;
    max-width: 100%;
    margin: 1rem 0;
	}
	.brains-img-double {
    display: flex;
    max-width: 100%;
	}
}
