/*
rgba(44,118,139,1)
rgba(243,239,220,1)
 */
.journal li {
  border-bottom: 1px solid gainsboro;
}
.journal-img {
  width: 75%;
}
.landing-cover {
  position: relative;
  background: rgba(243,239,220,1);
  background: -moz-linear-gradient(top, rgba(243,239,220,1) 0%, rgba(44,118,139,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,239,220,1)), color-stop(100%, rgba(44,118,139,1)));
  background: -webkit-linear-gradient(top, rgba(243,239,220,1) 0%, rgba(44,118,139,1) 100%);
  background: -o-linear-gradient(top, rgba(243,239,220,1) 0%, rgba(44,118,139,1) 100%);
  background: -ms-linear-gradient(top, rgba(243,239,220,1) 0%, rgba(44,118,139,1) 100%);
  background: linear-gradient(to bottom, rgba(243,239,220,1) 0%, rgba(44,118,139,1) 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 400px;
}
.cover {
  position: relative;
  background: rgba(243,239,220,1);
  background: -moz-linear-gradient(top, rgba(243,239,220,1) 0%, rgba(44,118,139,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,239,220,1)), color-stop(100%, rgba(44,118,139,1)));
  background: -webkit-linear-gradient(top, rgba(243,239,220,1) 0%, rgba(44,118,139,1) 100%);
  background: -o-linear-gradient(top, rgba(243,239,220,1) 0%, rgba(44,118,139,1) 100%);
  background: -ms-linear-gradient(top, rgba(243,239,220,1) 0%, rgba(44,118,139,1) 100%);
  background: linear-gradient(to bottom, rgba(243,239,220,1) 0%, rgba(44,118,139,1) 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

.coverCard {
  position: absolute;
  margin-left: 281px;
  bottom: 0;
  color: white;
  font-weight: 800;
}

.coverCard .name {
  font-size: 3em;
  margin-bottom: 0px;
}

.avatar {
  border:0px solid white;
  margin-top: 116px;
  border-radius: 1500px;
  -webkit-border-radius: 1500px;
  -moz-border-radius: 1500px;
  background: url(../img/avatar.png) no-repeat;
  background-position: top;
  width: 250px;
  height: 250px;
}

.first-letter {
  font-size: 4em;
  line-height: 1em;
}

li {
  margin-bottom: 0.5rem;
}
a {
  text-decoration: underline;
  color: #2C768B;
}
a:visited {
  color: #2C768B;
}

pre, code {
  background-color: #fafafa;
}

pre.highlight {
  background-color: #fafafa;
}

body {
  text-align: justify;
  word-break: break-word;
}

.post-header {
  text-align: left;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote p {
  display: inline;
}

.rounded {
  border-radius: 8px;
}

.perspective {
  max-width: 49%;
}

.swasthya {
  display: block;
  margin: 0 auto;
  max-width: 70%;
}
.post-img {
  display: block;
  margin: 1.5rem auto;
  max-width: 70%;
}
.post-img-double {
  display: inline;
  margin: 1.5rem auto;
  max-width: 49%;
}

.centerimage {
  display: block;
  margin: 0 auto;
}

#progressbar {
  background-color: #E2E7EA;
  border-radius: 13px; /* (height of inner div) / 2 + padding */
  padding: 3px;
  margin-bottom: 24px;
}

#progressbar > div {
  background-color: #2C768B;
  width: 18%;
  height: 20px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 0.83em;
  padding-left: 3px;
  padding-bottom: 3px;
}

@media only screen and (max-width: 600px) {

  .wrapper {
  }
  .cover {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
  }
  .avatar {
    text-align: center;
    min-width: 250px;
    min-height: 250px;
    margin-top: 60px;
  }

  .coverCard {
    display: block;
    position: relative;
    margin-left: 0px;
    bottom: 0;
    color: white;
    font-weight: 800;
  }

  .coverCard .name {
    text-align: center;
    font-size: 2em;
    display: block;
  }


  .post-img {
    display: block;
    max-width: 100%;
    margin: 1rem 0;
  }
  .post-img-double {
    display: flex;
    max-width: 100%;
  }

}


/*Filter styles*/
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }

.icon {
  margin-left: 1em;
}

.book {
  max-height: 10rem;
}

.badge {
  padding: 4px 9px 3px;
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #1261c9;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}