---
layout: landing
---

<div class="home">

  <p>
  I studied Computer Science and Engineering at <a href="https://www.itba.edu.ar/?lang=en">Instituto Tecnológico de Buenos Aires</a>. I'm from Buenos Aires, Argentina.
  </p>
  <p>
  My previous work is mostly about cryptocurrencies, distributed systems, machine learning, interactivity, and robotics. One of my goals is to bring new experiences to people through technology.
  <p>
  </p>
  I cofounded and was formerly CTO at <a href="https://openzeppelin.com/">OpenZeppelin</a>. Currently, I'm studying music, biology+neuroscience, and physics. 
  </p>
  <h1>Blog Posts</h1>
  <style>
    .post-list>li:nth-of-type(n + 4){
      display: none;
      visibility: hidden;
    }
  </style>
  <ul class="post-list">
    {% for post in site.posts limit:9 %}
      {% if post.lang != "es" and post.lang != "zh" %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <h2>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
    </li>
      {% endif %}
    {% endfor %}
    
    <a href="/blog">See more</a>
  </ul>
  <h1>Projects</h1>
  <h2>Bitcoin & Blockchain</h2>
  <ul>
    <li><a href="https://github.com/OpenZeppelin/openzeppelin-contracts">OpenZeppelin</a>, an open-source library for secure smart contract development in Ethereum and EVM-compatible blockchains.</li>
    <li><a href="https://proofofexistence.com/">Proof of Existence</a>, a web service to anonymously and securely store an online distributed proof of existence for any document. It uses the bitcoin blockchain as a sort of digital notary.</li>
    <li><a href="https://github.com/streamium/streamium">Streamium</a>, a p2p livestreaming application using bitcoin's Payment Channels smart contract for micropayments.</li>
    <li><a href="https://github.com/bitpay/bitcore">Bitcore</a>, a popular JavaScript Bitcoin library I helped create while working at BitPay. </li>
    <li><a href="https://maraoz.com/multipaper/">MultiPaper</a>, a bitcoin Multi-signature address (P2SH) paper wallet using bitcore.</li>
    <li><a href="https://decentraland.org/">Decentraland</a>, a blockchain-based virtual reality world.</li>
  </ul>
  <h2>Gamedev</h2>
  <ul>
    <li><a href="https://www.youtube.com/watch?v=qok3yKZuAgs">ComboCombat</a>, a multiplayer wizard combat game.
      <li><a href="https://www.youtube.com/watch?v=o5z2vPKuAa4">Singular Journey</a> [Oculus Rift], a VR exploration puzzle game that lets you explore alternative physics. Collaboration with <a href="https://twitter.com/mmerchante">Mariano Merchante</a>.</li>
      <li><a href="">SpaceExplorer</a> [Oculus Rift], a VR space exploration game.</li>
      <li><a href="https://youtu.be/Xuw6zWV0YTg?t=807">Nameless Project</a>, a competitive game I'm building from scratch in Unity3D while <a href="https://twitch.tv/manuelaraoz">livestreaming</a> on Twitch.</li>
  </ul>

  <h1>Miscellaneous interests</h1>
  <ul>
    <li><strong>Indie games</strong>, especially <a href="http://braid-game.com/">Braid</a>, a game about time and causality that showed me that videogames can be as deep and enjoyable as books, music or art. Other games I enjoyed a lot are <a href="https://osu.ppy.sh/">osu!</a>, <a href="http://www.ludomancy.com/games/today.php">Today I Die</a>, <a href="http://undertale.com/">Undertale</a> and <a href="http://the-witness.net/">The Witness</a>.</li>
    <li><strong>Esports</strong>, or competitive play of videogames. I once trained and played in Starcraft 2 tournaments. Valuable resources for learning were Sean Plott's <a href="http://day9.tv/">Day[9] TV</a> and Shaun Clark's <a href="https://www.youtube.com/playlist?list=PLD12CD54C740200A4">Terran Tutorials</a>. More recent, <a href="https://www.youtube.com/channel/UCbNl-XUtSGo3YxHCGgC_Y9w">Vibe's Bronze to GM series</a> are an amazing way to get better fast, focusing on fundamentals. Lately, I've picked up Legends of Runeterra, a card game by Riot Games, and I'm hoping to get better.</li>
    <li><strong>Creative Coding</strong>, or making art via code. I've seen some mind-bending examples like <a href="https://vimeo.com/118919656">this fantastic video</a> from FITC Tokyo 2015, or the paintings of <a href="https://github.com/andersbll/neural_artistic_style">StyleNet</a>.</li>
    <li><strong>Educational Videos on YouTube</strong>. My favorite channels are <a href="https://www.youtube.com/user/Kurzgesagt">Kurzgesagt</a>, <a href="https://www.youtube.com/user/Vsauce">Vsauce</a>, <a href="https://www.youtube.com/user/Vihart">Vi Hart</a>, <a href="https://www.youtube.com/channel/UC7_gcs09iThXybpVgjHZ_7g">PBS Spacetime</a> and <a href="https://www.youtube.com/channel/UCo8bcnLyZH8tBIH9V1mLgqQ">theodds1sout</a>.</li>
    <li><strong>Music</strong>. I play some guitar, bass, keyboard, trumpet, flute and <a href="http://studio.substack.net/sin-sin">algorithms</a>! I've recently ventured into EDM production. You can find my tunes in <a href="https://soundcloud.com/alpacabrothers/">my soundcloud profile</a>.</li>
  </ul>

  <h1>Credit</h1>
  <div><img width="20" height="20" src="img/avatar.png"/> avatar designed by <a href="https://twitter.com/marianorod1541">Marian</a>.</div>
  <div>Icons made by <a href="http://www.flaticon.com/authors/icomoon" title="Icomoon">Icomoon</a>, <a href="http://www.flaticon.com/authors/alessio-atzeni" title="Alessio Atzeni">Alessio Atzeni</a> and <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a>, licensed by <a href="https://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>.</div>
  <div>Theme inspired by <a href="https://www.flickr.com/photos/enhues/7735149256/in/photostream/">Nick Hughes's photo</a>, licensed by <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>.</div>

</div>


