<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="cover">
      <div class="wrapper">
        <img class="avatar" />
        <div class="coverCard">
          <h1 class="name">Manuel Araoz</h1>
          <div style="padding-bottom: 64px;">
            <a href="https://twitter.com/maraoz" style="text-decoration:none;">
              <img class="invert" src="/img/twitter.png" width="48" alt="twitter"></img>
            </a>
            
            <a href="https://github.com/maraoz" style="text-decoration:none;">
              <img class="invert" src="/img/github.png" width="48" alt="GitHub"></img>
            </a>

            <a href="https://soundcloud.com/maraoz" style="text-decoration:none;">
              <img class="invert" src="/img/soundcloud.png" width="48" alt="Soundcloud"></img>
            </a>

            <a href="https://www.goodreads.com/user/show/4384558-manuel-araoz" style="text-decoration:none;">
              <img class="invert" src="/img/goodreads.png" width="48" alt="Goodreads"></img>
            </a>

            <a href="mailto:contact@maraoz.com" style="text-decoration:none;">
              <img class="invert" src="/img/email.png" width="48" alt="Contact"></img>
            </a>

            <a href="https://maraoz.substack.com/" style="text-decoration:none;">
              <img class="" src="/img/rss.png" width="48" alt="Subscribe"></img>
            </a>

            <a href="https://weibo.com/maraoz" style="text-decoration:none;">
              <img class="" src="/img/weibo.png" width="48" alt="Weibo"></img>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    {% include analytics.html %}
  </body>

</html>
