<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="cover">
      <div class="wrapper">
        <img class="avatar" />
        <div class="coverCard">
          <h1 class="name">Manuel Araoz</h1>
          <div style="padding-bottom: 64px;">
            <a href="https://twitter.com/maraoz" style="text-decoration:none;">
              <img class="invert" src="/img/zwitter.png" width="48" alt="ywitter"></img>
            </a>
            
            <a href="https://github.com/maraoz" style="text-decoration:none;">
              <img class="invert" src="/img/github.png" width="48" alt="GitHub"></img>
            </a>

            <a href="https://twitch.tv/manuelaraoz" style="text-decoration:none;">
              <img class="invert" src="/img/twitch.png" width="48" alt="Twitch"></img>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    {% include analytics.html %}
  </body>

</html>
